/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: inherit;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	text-align: center;
	background-color: #eee;
}

body.left {
	text-align: left;
}

.wrapper {
	max-width: 800px;
	padding: 0 2.5%;
	margin: 0 auto;
}

.hidden {
	display: none;
}

header {
	background: no-repeat 0 90%/cover url(../img/bannerS.jpg);
	color: #fff;
}

header, .content, .gapl, .steps, .details, .protection {
	margin-bottom: 2em;
}

.comment {
	padding: 1em 2.5%;
	margin: 0 auto;
	color: #fff;
}

.comment img {
	border-radius: 50%;
	float: left;
	margin-right: .5em;
	width: 60px;
	height: auto;
}

.proof {
	background-color: #58f;
	margin-bottom: 1em;
}

.visual img {
	max-width: 100%;
	margin-bottom: .5em;
}

.picture {
	margin-bottom: 1.5em;
}

.vignette {
	border: 10px solid white;
	border-radius: 5px;
	box-shadow: 0 0 0 1px #ccc;
}

.video {
	position: relative;
	padding-bottom: 51.5%;
	padding-top: 25px;
	height: 0;
}

.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.step p {
	padding: 15px;
	display: inline-block;
	margin: auto;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.step:not(:last-of-type):after {
	content: "\25bc";
	display: block;
	color: #333;
	font-size: 1.5em;
	line-height: 1.5em;
}

form > * {
	display: block;
	width: 100%;
	padding: 10px 13px 8px;
	border-radius: 4px;
	margin-bottom: 1em;
}

input[type=text], input[type=email], textarea {
	background-color: #f9f9f9;
	border: 1px solid #ccc;
}

label {
	text-align: left;
	padding: 0;
	margin: 0;
}

label:last-of-type {
	margin-bottom: 1em;
}

.center {
	text-align: center;
}

img {
	max-width: 100%;
}

.imgcontainer {
	background-color: #3c4915;
}

.mozaic img {
	width: 48%;
}

.fb-like {
	display: inline-block !important;
	margin-left: 1em;
}

.smcx-widget {
	margin: 0 auto !important;
}

.smcx-iframe-container {
	max-width: initial !important;
}
body {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-weight: 300;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	line-height: 1.25em;
}

h2 {
	font-size: 1.625em;
	line-height: 1.15384615em;
	margin-bottom: .5em;
}

h3 {
	line-height: 1.13636364em;
	font-weight: bold;
	margin-top: 1em;
}

h4 {
	font-weight: 400;
}

.logo {
	padding: 1.5em 0;
	margin-bottom: 1em;
	text-align: center;
}

.question {
	margin-bottom: .5em;
}

blockquote {
	quotes: "“" "”" "‘" "’";
	text-align: justify;
}

blockquote:before {
	content: open-quote;
}

blockquote:after {
	content: close-quote;
}

strong {
	font-weight: 400;
}

em {
	font-style: italic;
}

.description, .gap {
	margin-bottom: 1em;
}

ul li:before {
	content: "\2022";
	margin: 0 .5em 0 1em;
}

ol li {
	list-style-type: decimal;
	list-style-position: inside;
}

.link {
	color: #f40;
}

.link:hover {
	color: #d10;
}
.cta {
	color: #fff;
	font-weight: 400;
	display: inline-block;
	padding: .5em 1em;
	line-height: 1.25em;
	margin-bottom: 2em;
	background-color: #f60;
	border-radius: 4px;
	border: none;
	border-top: 3px solid #f40;
	transition: .25s ease-in-out;
}

.cta:hover, .cta:focus, .cta:active {
	background-color: #f40;
}
@media screen and (min-width: 568px){
	.picture, .step {
		display: inline-block;
		vertical-align: top;
	}

	.picture {
		width: 32%;
		margin-right: 2%;
		margin-bottom: 0;
	}

	.picture:last-of-type {
		margin-right: 0;
	}

	.vignette {
		border: 5px solid white;
	}

	.step:not(:last-of-type):after {
		content: "\25b6";
		display: inline-block;
		padding: 0 1em;
	}
}

@media screen and (min-width: 640px) {
	.group, .private {
		width: 48%;
		display: inline-block;
		vertical-align: top;
	}

	.group {
		margin-right: 4%;
	}
}

@media screen and (min-width: 715px) {
	.videowrapper {
		max-width: 800px;
		margin: 0 auto;
	}

	.video, .comment {
		display: inline-block;
		vertical-align: top;
	}

	.video {
		width: 66%;
		padding-bottom: 34%;
		padding-top: 25px;
		margin-right: 1%;
	}

	.comment {
		width: 33%;
		padding: 1% .5% 0 0;
		margin-bottom: 0;
	}

}

@media screen and (min-width: 1501px) {
	header {
		background: no-repeat 0 90%/cover url(../img/banner.jpg);
	}
}
